
@font-face {
  font-family: "Open Sans", sans-serif;
}

p, div, span, pre, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans"
}

.cell {
  color: red;
  text-align: center;
  font-size: 100px;
  float: left;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid red;
  background-image:url("ash.jpeg");
  background-position:center;
  cursor:pointer;

}

.container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

#background{
  width:1430px;
  height:800px;
  background-size: 100%;
  position: absolute;
}

#title{ 
 text-align:center;
}


.board {
  width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

#pikachu{ 
  height:150px;
  width:150px;
}

#charmander{ 
  height:150px;
  width:150px;
}

#logo{
  display:block;
  margin:0 auto;
  width:380px;
  height:100px;

}

h1{
  color:white;
  font-style:"Open-Sans";
  text-align:center;
  font-size:30px;

}

.player-name{
  position:relative;
  font-style:"Open-Sans";
  font-size:25px;
  color:white;
}

.press{
  cursor:pointer;
}

